<div *ngIf="translated && translated.word">
  <mat-card class="card-element">
    <mat-card-header class="header">
      {{translated.word}}
    </mat-card-header>
    <mat-card-content>
      <mat-list no-lines>
        <div *ngFor="let translation of translated.trans" class="translation-element">
          {{translation}}
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="translated.examples.length > 0" class="card-element">
    <mat-card-header class="header">
      Ejemplos
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <div *ngFor="let example of translated.examples" class="translation-element">
          {{example}}
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <a [href]="translated.url">Traducción ofrecida por El Huyar</a>
</div>
<div *ngIf="!translated || !translated.word">
  Lo sentimos. No disponemos de traducción para esta palabra.
</div>