<ion-content [fullscreen]="true">
  <div class="page-container">
    <ion-list>

      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select label="Type" placeholder="Type" [(ngModel)]="type">
          <ion-select-option value="exercise">exercise</ion-select-option>
          <ion-select-option value="vocabulary">vocabulary</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Lesson</ion-label>
      </ion-item>


    </ion-list>
  </div>
</ion-content>