<ion-content [fullscreen]="true" (keyup)="onKeyPress($event)">
  <div class="page-container" *ngIf="!congratulations">
    <div class="percent-complete"><span [style.width]="completePercent"></span></div>


    <div class="question-title" *ngIf="current && current.type !== 'audio'">
      {{current.title}}
    </div>

    <ion-card *ngIf="current && current.type !== 'audio'">
      <ion-card-content>
        {{current.question}}
      </ion-card-content>
    </ion-card>

    <div *ngIf="current && current.type === 'audio'">
      <div class="audio-container">
        <ion-button (click)="playMedia()" class="play-button">
          <ion-icon name="play-outline"></ion-icon>
        </ion-button>
        <h2>{{current.title}}</h2>
      </div>
      <audio controls="controls" id="audioTag" preload="none" autoplay>
        <source [src]="audio" type="audio/mpeg">
      </audio>
    </div>


    <!-- Default textarea -->
    <ion-item *ngIf="current && current.type !== 'option' && current.type !== 'link'">
      <ion-textarea [(ngModel)]="response"></ion-textarea>
    </ion-item>

    <ion-list *ngIf="current && current.type === 'option'">
      <ion-radio-group [(ngModel)]="response">
        <ion-item *ngFor="let option of current.options">
          <ion-label>{{option}}</ion-label>
          <ion-radio slot="start" [value]="option"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <div class="link-container" *ngIf="current && current.type === 'link'">
      <ion-grid>
        <ion-row *ngFor="let item of current.items[1] ; let i = index" class="row-item-container">
          <ion-col>
            <div *ngIf="current.items[0][i]" class="link-item-from-card" (click)="selectLinkItem(i)"
              [class.selected]="i === selectedLinkedItem" draggable="true" (dragstart)="drag($event, i, true)">
              {{current.items[0][i]}}
            </div>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col class="link-item-to-container-left">
            <div class="link-item-to">
              {{item}}
            </div>
          </ion-col>
          <ion-col class="link-item-to-container-right">
            <div class="link-item-drop-container" (click)="clickOnDropContainer(i)"
              [class.selected]="i === selectedLinkedItemDropped" (drop)="dropLinkedItem($event, i)"
              (dragover)="allowDrop($event)" (dragstart)="drag($event, i, false)" [draggable]="linkResponse[i] ? true : false" [attr.itemTo]="linkResponse[i] ? i : undefined">
              {{linkResponse[i]}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- <ion-textarea [(ngModel)]="response" (keypress)="onKeyPress($event)"></ion-textarea> -->

    <div *ngIf="isCorrecting" class="evaluation" [ngClass]="evaluationClass">
      {{isCorrecting}}
    </div>

    <div class="buttons-container">
      <ion-button expand="block" *ngIf="!isCorrecting" (click)="checkResponse()">Zuzendu</ion-button>
      <ion-button expand="block" *ngIf="isCorrecting && evaluationClass === 'error'" color="warning" (click)="openModal()">Reportar un error</ion-button>
      <ion-button expand="block" *ngIf="isCorrecting" (click)="continue()">Jarraitu</ion-button>
    </div>
  </div>

  <div class="page-container" *ngIf="congratulations">
    <div class="zorionak-picture">
      <img src="img/icons/congratulations.png">
    </div>
    <div class="correct">¡Has completado correctamente la lección!</div>
    <div class="buttons-container">
      <ion-button expand="block" [routerLink]="['/home']" routerDirection="root" skipLocationChange>Volver (Etorri)
      </ion-button>
    </div>
  </div>
</ion-content>