$screen-lg-min: 992px;

.header-container{
  height: 200px;
  width: 100%;
  background-color: blue;
}

.menu-icon {
  display: inline-block;
  position: relative;
  margin-right: 8px;
  top: 3px;
}
.back-arrow {
  margin-left: 16px;
}

.toolbar {
  max-height: 56px;
}

.container {
  display: flex;
  flex-direction: row;
  .outlet-container {
    width: 100%;
    overflow-y: auto;
    margin-top: 45px;

    .outlet-elem {
      inset: 12px;
      @media (max-width: $screen-lg-min) {
        inset: 0px;
      }
    }
  }
}

.menu-button {
  display: none;
}

@media (max-width: $screen-lg-min) {
  .lateral-menu {
    display: none;
    background-color: black;
  }

  .menu-button {
    display: block;
  }
}
