<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-icon *ngIf="pageBack" class="back-arrow" [routerLink]="[pageBack]" skipLocationChange routerDirection="root" name="arrow-back-outline" class="menu-icon"></ion-icon>
        {{title}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" [forceOverscroll​]="true"> 
    <div class="outlet-container" [ngClass]="title">
      <ion-router-outlet class="outlet-elem"></ion-router-outlet>
    </div>
  </ion-content>  
</ion-app>
