<ion-content [fullscreen]="true">

  <div class="themes-container">
    <div *ngFor="let row of themes; let i = index" class="theme">
      <div class="row-theme" [id]="index">
        <div *ngFor="let theme of row" class="theme-element" (click)="openTheme(theme, $event)">
          <div class="theme-icon">
            <img [src]="'https://raw.githubusercontent.com/litospayaso/gotzon/master/src/img/icons/' + theme.img" [alt]="theme.img">
          </div>
          <div class="theme-title">
            {{theme.title}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-fab class="training-button" vertical="bottom" horizontal="end" slot="fixed" skipLocationChange routerDirection="root" [routerLink]="['/vocabulary']">
    <ion-fab-button>
      <ion-icon name="barbell-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>