.themes-container {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .theme {
    margin: 20px;
    .row-theme {
      display: flex;
      flex-direction: row;
    }
    .theme-element {
      cursor: pointer;
      margin: 0 25px;
      .progress-container {
        background-color: transparent;
        height: 0;

        .progress-element {
          height: 8em;
          width: 8em;
        }

        &.zero,
        &.completed {
          svg {
            display: none;
          }
        }
        &.third {
          svg {
            transform: rotate(150deg);
            g.two,
            g.three {
              display: none;
            }
          }
        }
        &.half {
          svg {
            transform: rotate(150deg);
            g.one,
            g.three {
              display: none;
            }
          }
        }
        &.two-third {
          svg {
            transform: rotate(150deg);
            g.one,
            g.two {
              display: none;
            }
          }
        }
      }
      .theme-icon {
        border: solid 8px #e5e5e5;
        border-radius: 50%;
        height: 8em;
        width: 8em;
        display: flex;
        align-items: center;
        justify-content: center;

        &.completed {
          border-color: var(--ion-color-success-tint);
        }

        img {
          height: 5em;
          width: 5em;
        }
      }
      .completed-container {
        display: none;
        height: 0px;
        width: 6rem;
        position: relative;
        top: -22px;
        left: 70px;
        &.completed {
          display: block;
        }
        img {
          height: 2rem;
          width: 2rem;
        }
      }
      .theme-title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 8em;
        margin-top: 12px;
      }
    }
  }
}

.training-button {
  margin-bottom: 15px;
  margin-right: 15px;
}
