<ion-content [fullscreen]="true" (keyup)="onKeyPress($event)">
  <div class="page-container"  *ngIf="!congratulations">
    <div class="percent-complete"><span [style.width]="completePercent"></span></div>
    <ion-card>
      <ion-card-content *ngIf="current">
        {{current.spanish[0]}}
      </ion-card-content>
    </ion-card>
    <!-- Default textarea -->
    <ion-item>
      <ion-textarea [(ngModel)]="response"></ion-textarea>
    </ion-item>

    <div *ngIf="isCorrecting" class="evaluation" [ngClass]="evaluationClass">
      {{isCorrecting}}
    </div>

    <div class="buttons-container">
      <ion-button expand="block" *ngIf="!isCorrecting" (click)="checkResponse()">Zuzendu</ion-button>
      <ion-button expand="block" *ngIf="isCorrecting" (click)="continue()">Jarraitu</ion-button>
    </div>
  </div>

  <div class="page-container" *ngIf="congratulations">
    <div class="zorionak-picture">
      <img src="img/icons/congratulations.png">
    </div>
    <div class="correct">¡Has completado correctamente la lección!</div>
    <div class="buttons-container">
      <ion-button expand="block" [routerLink]="['/home']" routerDirection="root" skipLocationChange>Volver (Etorri)</ion-button>
    </div>
  </div>
</ion-content>