.page-container {
  padding: 50px 20px 0 20px;
}
.buttons-container {
  padding: 20px;
  ion-button {
    margin: 16px 0;
  }
}

::ng-deep {
  blockquote {
    background-color: var(--ion-color-primary-shade);
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
  }
  .quote::after {
    position: relative;
    right: 0;
    background-image: url(https://raw.githubusercontent.com/litospayaso/gotzon/master/src/img/assets/B2.svg);
    background-size: 225px 275px;
    display: inline-block;
    width: 225px;
    height: 275px;
    content: "";
  }

  .quoute blockquote:before {
    content: "";
    position: absolute;
    top: 58px;
    left: 145px;
    width: 0;
    border-left: 0px solid transparent;
    border-right: 18px solid transparent;
    border-top: 22px solid var(--ion-color-primary-shade);
  }

  table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: separate !important;

    th:first-child {
      border-top-left-radius: 16px;
    }
    th:last-child {
      border-top-right-radius: 16px;
    }
    th {
      background-color: var(--ion-color-primary) !important;
      font-weight: bold;
      padding: 10px 12px;
      color: white;
    }
    td:first-child {
      border-left: 2px solid #e5e5e5;
    }
    td {
      border-bottom: 2px solid #e5e5e5;
      border-right: 2px solid #e5e5e5;
      padding: 10px 12px;
    }
    tr:last-child {
      td:first-child {
        border-radius: 0 0 0 16px;
      }
      td:last-child {
        border-radius: 0 0 16px 0;
      }
    }
  }
}
